<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Product</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <!-- CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <meta name="robots" content="noindex,follow" />

  </head>

  <body>
    <main class="container">

      <!-- Left Column -->
      {% for item in products %}
      <div class="left-column">
        <img data-image="red" class="active" src="{{item.image_src}}" alt="">
      </div>


      <!-- Right Column -->
      <div class="right-column">

        <!-- Product Description -->
        <div class="product-description">
          <span>{{item.handle}}</span>
          <h1>{{item.title}}</h1>
          <p>{{item.description}}</p>
        </div>
        <!-- Product Pricing -->
        <div class="product-price">
          <span>{{item.price}}</span>
          <a href="/order/order-confirmation/" class="cart-btn" data-value="{{item.variant_data}}">Place Order</a>
        </div>
      </div>
      {% endfor %}
    </main>

    <!-- Scripts-->
    {% block javascript %}
    <script src="{% static 'js/script.css' %}" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
      <script>
        $(".cart-btn").click(function () {
          console.log('Here\n')
          var variant_data = $(this).data("value")
          console.log(variant_data)
          $.ajax({
            url: '/order/ajax/place-order/',
            headers: { "X-CSRFToken": $.cookie("csrftoken")},
            type:"POST",
            data: {
              'variant_data': variant_data
            },
            dataType: 'json',
            success: function (data) {
              if (data.is_taken) {
                alert("A user with this username already exists.");
              }
            }
          });

        });
      </script>
    {% endblock %}
  </body>
</html>
